
<html>
<head>

</head>
<body>
<%- include('../compartido/estilos-generales/estilos-generales-component')%>
<%- include('../compartido/menu/menu-component')%>
<!--<form action="https://www.google.com" method="GET">-->
<!--    <label for="query">Consulta:</label>-->
<!--    <input type="text" id="query" name="q">-->
<!--</form>-->
<!-- usuario/crear.ejs-->
<% const existeUsuario = typeof red != 'undefined'%>

<% let existeNombre = typeof nombre !== 'undefined' %>
<% let existeApellido = typeof tipo !== 'undefined' %>
<% let existeCedula = typeof medio !== 'undefined' %>

<h1> <%= existeUsuario ? 'Editar' : 'Crear'%> red</h1>
<% let href = existeUsuario ? "/red/editarDesdeVista/"+red.id : "/usuario/crearDesdeVista"%>
<%if(existeUsuario){%>
    <% existeNombre = true %>
    <% existeApellido = true %>
    <% existeCedula = true %>
    <% nombre = red.nombre %>
    <% tipo = red.tipo %>
    <% medio = red.medio %>
<%}%>

<% if(error !== undefined) {%>
    <p>MENSAJE ERROR: <%= error%></p>
<% }%>
<form action="<%= href%>" method="POST">

    <label for="nombreID">Nombre:</label>
    <input id="nombreID" type="text" name="nombre" value="<%= existeNombre ? nombre : '' %>">
    <br>

    <label for="apellidoID">Apellido:</label>
    <input id="apellidoID" type="text" name="apellido" value="<%= existeApellido ? apellido : '' %>">
    <br>

    <label for="cedulaID">Cedula:</label>
    <input id="cedulaID"
           type="text"
           <%if(existeUsuario) {%>disabled<%}%>
           name="cedula"
           value="<%= existeCedula ? cedula : '' %>">
    <br>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
    <button type="button">BUTTON</button>
</form>
</body>
</html>