
<% const esAdministrador = roles.some( (rol)=> rol == 'Administrador')%>

<% if(esAdministrador){%>

<% const existeRed = typeof red != 'undefined'%>

<% let existeNombre = typeof nombre !== 'undefined' %>
<% let existeTipo = typeof tipo !== 'undefined' %>
<% let existeNumElements = typeof numElements !== 'undefined' %>
<% let existeMedio = typeof medio !== 'undefined' %>
<% let existeAlcance = typeof alcance !== 'undefined' %>

<h1> <%= existeRed ? 'Editar' : 'Crear Nueva'%> Red</h1>
<% let href = existeRed ? "/red/editarDesdeVista/"+red.id : "/red/crear"%>

<%if(existeRed){%>
    <% existeNombre = true %>
    <% existeTipo = true %>
    <% existeNumElements = true %>
    <% existeMedio = true %>
    <% existeAlcance = true %>
    <% nombre = red.nombre %>
    <% tipo = red.tipo %>
    <% numElements = red.numElements %>
    <% medio = red.medio %>
    <% alcance = red.alcance %>
<%}%>

<% if(error !== undefined) {%>
    <p>MENSAJE ERROR: <%= error%></p>
<% }%>

<form action="<%= existeRed ? '/red/editar/'+red.id:'/red/crear'%>" method="POST">

    <label for="nombreID">Nombre:</label>
    <input id="nombreID" type="text" name="nombre" value="<%= existeNombre ? nombre : '' %>">
    <br>

    <label for="tipoID">Tipo:</label>
    <input id="tipoID" type="text" name="tipo" value="<%= existeTipo ? tipo : '' %>">
    <br>

    <label for="numElementsID">Numero de elementos:</label>
    <input id="numElementsID" type="text" name="numElements" value="<%= existeNumElements ? numElements : '' %>">
    <br>

    <label for="medioID">Medio:</label>
    <input id="medioID" type="text" name="medio" value="<%= existeMedio ? medio : '' %>">
    <br>

    <label for="alcanceID">Alcance:</label>
    <input id="alcanceID" type="text" name="alcance" value="<%= existeAlcance ? alcance : '' %>">
    <br>

    <button type="submit">SUBMIT <%=existeRed ? "EDITAR" : "CREAR" %></button>
    <button type="reset">RESET</button>
</form>
<a href="/red/inicio">
    <button type="button">CANCELAR</button>
</a>
<% } %>