<% const esAdministrador = roles.some( (rol)=> rol == 'Administrador')%>

if(esAdministrador){%>

    <%-include('../style-generals/style-generals')%>

<% const existeRed = typeof red != 'undefined'%>

<% let existeNombre = typeof nombre !== 'undefined' %>
<% let existeTipo = typeof tipo !== 'undefined' %>
<% let existeNumElementos = typeof numElementos !== 'undefined' %>
<% let existeMedio = typeof medio !== 'undefined' %>
<% let existeAlcance = typeof alcance !== 'undefined' %>

<%if(existeRed){%>
    <% existeNombre = true %>
    <% existeTipo = true %>
    <% existeNumElementos = true %>
    <% existeMedio = true %>
    <% existeAlcance = true %>
    <% nombre = red.nombre %>
    <% tipo = red.tipo %>
    <% numElementos = red.numElementos %>
    <% medio = red.medio %>
    <% alcance = red.alcance %>
<%}%>

<h1> <%= existeRed ? 'Editar' : 'Crear Nueva'%> Red</h1>

    <% if(typeof error !== undefined) {%>
    <p>MENSAJE ERROR: <%= error%></p>
<% }%>

<% let href = existeRed ? '/red/editar/'+red.id : '/red/crear'%>
<form action="<%= href%>" method="POST">
<div>
    <label for="nombreID">Nombre:    </label>
    <input id="nombreID" type="text" name="nombre" value="<%= existeNombre ? nombre : '' %>">
    <br>
</div>
    <div class="col-lg-12">
    <label for="tipoID">Tipo:</label>
    <input id="tipoID" type="text" name="tipo" value="<%= existeTipo ? tipo : '' %>">
    <br>
        </div>
    <div class="col-lg-12">
    <label for="numElementosID">Numero de elementos:</label>
    <input id="numElementosID" type="text" name="numElementos" value="<%= existeNumElementos ? numElementos : '' %>">
    <br>
    </div>
    <div class="col-lg-12">
    <label for="medioID">Medio:</label>
    <input id="medioID" type="text" name="medio" value="<%= existeMedio ? medio : '' %>">
    <br>
    </div>
    <div class="col-lg-12">
    <label for="alcanceID">Alcance:</label>
    <input id="alcanceID" type="text" name="alcance" value="<%=existeAlcance ? alcance : '' %>">
    <br>
    </div>
    <div class="col-lg-12">

    <button type="submit"><%=existeRed ? "Editar Red" : 'Crear Red'%> </button>
    <button type="reset">RESET</button>
    </div>
</form>
<a href="/red/inicio">
    <center><button type="button">CANCELAR</button></center>
</a>
