<html>
<head>

</head>
<body>
<h1>Inicio</h1>
<a href="/red/vista/crearDesdeVista">
    <button>Crear</button>
</a>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>Acciones</th>
    </tr>
    <% arregloUsuarios.forEach( (objeto)=>{ %>
        <tr>
            <td><%= objeto.nombre %></td>
            <td><%= objeto.apellido %></td>
            <td><%= objeto.cedula %></td>
            <td>
                <button>Ver</button>
                <a href="/usuario/vista/editar/<%= objeto.id %>">
                    <button>Editar</button>
                </a>
                <form action="/usuario/eliminarDesdeVista/<%= objeto.id %>"
                      method="POST"
                >
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
    <% } ) %>

</table>
</body>
</html>
