<% const esAdministrador = roles.some( (rol)=> rol == 'Administrador')%>

<% if(esAdministrador){%>

    <h1>Inicio</h1>
<a href="/red/crear">
    <button>Crear</button>
</a>
    <form action="/red/inicio">
        <label for="busqueda">BUSCAR:</label>
        <input id="busqueda" type="text" name="busqueda">
        <button type="submit"> Buscar</button>
    </form>
<table>
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>NumElementos</th>
        <th>Medio</th>
        <th>Alcance</th>
    </tr>
    <% redes.forEach( (objeto)=>{ %>
        <tr>
            <td><%= objeto.nombre %></td>
            <td><%= objeto.tipo %></td>
            <td><%= objeto.numElements %></td>
            <td><%= objeto.medio %></td>
            <td><%= objeto.alcance %></td>
            <td>
                <button>Ver</button>
                <a href="/red/editar/<%= objeto.id %>">
                    <button>Editar</button>
                </a>
                <form action="/red/eliminarDesdeVista/<%= objeto.id %>"
                      method="POST"
                >
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
    <% } ) %>

</table>
    <%if(typeof parametrosConsulta.mensaje != 'undefined') {%>
        <p>MENSAJE: <%= parametrosConsulta.mensaje%></p>
    <%}%>
<%}%>