<% const esAdministrador = roles.some( (rol)=> rol == 'Administrador')%>

<% if(esAdministrador){%>

<%-include('../style-generals/style-generals')%>

    <h1>Inicio</h1>
<a href="/red/crear" >
    <button>Crear Nueva Red</button>
</a>

    <form action="/red/inicio">
        <label for="busqueda">BUSCAR:</label>
        <label>Tipo o alcance</label>
        <input id="busqueda" type="text" name="busqueda">
        <button type="submit"> Buscar</button>
    </form>
<table>
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Numero de Elementos</th>
        <th>Medio</th>
        <th>Alcance</th>
    </tr>
    <% redes.forEach( (objeto)=>{ %>
        <tr>
            <td><%= objeto.nombre %></td>
            <td><%= objeto.tipo %></td>
            <td><%= objeto.numElementos %></td>
            <td><%= objeto.medio %></td>
            <td><%= objeto.alcance %></td>
            <td>

                <form action="/red/editar/<%= objeto.id %>" method="post">
                    <button>Editar</button>
                </form>
                <form action="/red/eliminarDesdeVista/<%= objeto.id %>"
                      method="POST">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
    <% } ) %>

</table>
    <%if(typeof parametrosConsulta.mensaje != 'undefined') {%>
        <p>MENSAJE: <%= parametrosConsulta.mensaje%></p>
    <%}%>
<%}%>