<%-include('../compartida/estilos-generales/estilos-generales-component') %>
<%-include('../compartida/menu/menu-component')%>

<h1>Inicio</h1>

<button onclick="mensajeAlertar()"> Alerta </button>

<!--= Para q se usa, nos ayuda a mostrat las variables que tenemos definidass en un archivo ejs-->
<p><%="Hola"%></p>
<p><%=15%></p>
<!--<%%>-->
<%const gaby= {nombre: "Gaby", apellido:"Tala", cedula:"124567889"}%>
<%const numero =25%>
<%const mensaje=""%>
<p><%=gaby.nombre%></p>
<p><%=numero%></p>
<p><%=mensaje%></p>

<%const arregloNumeros=[1,2,3,4,5]%>
<ul>
    <%arregloNumeros.forEach((objeto)=>{%>
        <li><%=objeto%></li>
    <%})

    %>
</ul>

<a href="/usuario/vista/crear">
    <button>Crear</button>
</a>
<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>Acciones</th>
    </tr>
    <% arregloUsuarios.forEach( (objeto)=>{ %>
    <tr>
        <td><%=objeto.nombre%></td>
        <td><%=objeto.apellido%></td>
        <td><%=objeto.cedula%></td>
        <td>
            <button>Ver</button>
            <button>Editar</button>
            <button>Eliminar</button>
        </td>
    </tr>
<%})%>
</table>
<%- include ('../compartida/funcionalidad-general/funcionalidad-general-component')%>